name: Scan Pipeline to build Runner docker images
on:
    push:
        branches:
         - multirach

permissions:
    contents: read
    packages: write

jobs:
    scanimage:
     name: scan base Image
     runs-on: ubuntu-latest
     steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: docker login
        uses: docker/login-action@v3 # docker login -u username -p password
        with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: .
          file: Dockerfile
          push: true
          tags: myprac/python:${{github.sha}}




